/* styles.css */
.clickable-item:hover {
    cursor: pointer;
    background-color: #f0f0f0; /* Light grey background on hover */
    color: #0366d6; /* Change text color */
}

.alert-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}