boto3
fastapi[all]
uvicorn
mangum
python-multipart
python-jose[cryptography]
pydantic
passlib[bcrypt]
authlib
google-auth-oauthlib
Pillow
# for testing
moto
faker
mypy
# type stubs
types-Pillow
types-python-jose
boto3-stubs
google-auth-stubs
types-ujson