/* styles.css */


.clickable-item:hover {
    cursor: pointer;
    background-color: #f0f0f0; /* Light grey background on hover */
    color: #0366d6; /* Change text color */
}

.alert-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.required-asterisk {
  color: #ff4d4d; /* Red color */
  margin-left: 3px;
}

.floating-action-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 50%; /* Circular */
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link-disabled {
  color: grey !important; /* Make the text grey */
  pointer-events: none;   /* Disable click events */
  cursor: default;        /* Set cursor to default instead of pointer */
}

.no-images-icon {
  font-size: 5rem; /* Adjusts the size of the icon */
  color: #6c757d; /* A subtle, neutral color; you can adjust this based on your theme */
  margin-bottom: 1rem; /* Adds space between the icon and the text */
}

.no-images-text {
  color: #495057; /* Slightly darker color for text for readability */
  margin-bottom: 0.5rem; /* Adds a little space below each text line */
}

.no-images-message {
  padding: 2rem 0; /* Adds padding around the whole message for better spacing */
  text-align: center; /* Centers the message and icon */
}


/* Plant list table */

.column-id {
  width: 10%;  /* Adjust the width as needed */
}

.column-name {
  width: 90%;  /* Adjust the width as needed */
}

