@import "custom-styles.scss";
html {
  //Make the scrollbar always visible to prevent layout shift
  overflow-y: scroll;
}


.cursor-on-hover {
  cursor: pointer;
}

.clickable-item:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    color: #0366d6;
}

.hoverable-icon {
  color: #787878;
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition for color change */

}

.hoverable-icon:hover {
  color: #000000;
}


.alert-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.required-asterisk {
  color: $danger;
  margin-left: 3px;
}

.floating-action-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 50%; /* Circular */
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Navbar*/
.nav-link-disabled {
  color: grey !important;
  pointer-events: none;
  cursor: default;
}

.logout-btn{
  font-size: 1.2rem;
}


.no-images-icon {
  font-size: 5rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

.no-images-text {
  color: #495057;
  margin-bottom: 0.5rem;
}

.no-images-message {
  padding: 2rem 0;
  text-align: center;
}


/* Footer */
.footer {
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
}

/* Loading overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); /* Darker semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Ensure it's above other content */
}

.loading-content {
  text-align: center;
  color: white;
}

.loading-content p {
  margin-top: 15px;
  font-size: 1.2em;
}

/* Top level cards */
.top-level-card{
  margin-bottom: 3rem;
}

.top-level-card .card-header {
    /*Overriding Bootstrap CSS for sticky headers*/
  --bs-card-cap-bg: #f8f5f0;
  height: 55px;
  // Flexbox for vertical centering
  display: flex;
  align-items: center;

  // Handle text overflow with ellipsis
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


  //Sticky card header
  position: sticky;
  top: 0;
  opacity: 1.0;
  z-index: 1000;

  margin-bottom: 5px;
}

.plant-form-item {
  // Keeps the form from shifting when switching between editing and not editing parent IDs
  height: 30px;
}